﻿ALTER SESSION SET CURRENT_SCHEMA= {{info.schema_nome}}
/
{% for item in info.list -%}
alter table {{info.schema_nome}}.{{item.tabela_nome}} ENABLE constraint {{item.constrainst_nome}}
/
{% endfor -%}