﻿
{%  if {{info.schema_nome}} == 'HEJPSP' %} 
ALTER SESSION SET CURRENT_SCHEMA= HEJP
/
alter table HEJP.THEJPBC0 ENABLE constraint THEJPBC0_THEJFCN0_FK
/
alter table HEJP.THEJPGTBCO0 ENABLE constraint THEJPGTBCO0_THEJFCN0_FK
/
alter table HEJP.THEJSITBCO0 ENABLE constraint THEJSITBCO0_THEJFCN0_FK
/
alter table HEJP.THEJPBC0 ENABLE constraint SYS_C0019041
/
alter table HEJP.THEJSITBCO0 ENABLE constraint SYS_C0019079
/
alter table HEJP.THEJTRA0 ENABLE constraint SYS_C0019086
/
alter table HEJP.THEJSCP0 ENABLE constraint SYS_C0019068
/
alter table HEJP.THEJSISCPC0 ENABLE constraint SYS_C0019074
/
alter table HEJP.THEJJOR0_HIST ENABLE constraint SYS_C00143852
/
alter table HEJP.THEJAPR0_HIST ENABLE constraint SYS_C00143844
/
alter table HEJP.THEJAPR0_HIST ENABLE constraint IHEJAPR00HIST
/
alter table HEJP.THEJAPR2 ENABLE constraint SYS_C0018949
/
alter table HEJP.THEJAPR1 ENABLE constraint SYS_C0018942
/
alter table HEJP.THEJALOFCN0 ENABLE constraint SYS_C0018929
/
alter table HEJP.THEJAPR0 ENABLE constraint SYS_C0018934
/
alter table HEJP.THEJAPR0 ENABLE constraint IHEJAPR00
/
alter table HEJP.THEJFUNT ENABLE constraint SYS_C0019006
/
alter table HEJP.THEJFUNT ENABLE constraint IHEJFUNT0
/
alter table HEJP.THEJJOR0 ENABLE constraint SYS_C0019017
/
alter table HEJP.THEJJOR0 ENABLE constraint IHEJJOR00
/
alter table HEJP.THEJEAF0 ENABLE constraint SYS_C0018992
/
alter table HEJP.THEJFCN0 ENABLE constraint SYS_C0018997
/
alter table HEJP.THEJFCN0 ENABLE constraint IHEJFCN0
/
alter table HEJP.THEJALOFCN0 ENABLE constraint THEJALOFCN0_PK
/
alter table HEJP.THEJEAF0 ENABLE constraint THEJEAF0_PK
/
alter table HEJP.THEJPGTBCO0 ENABLE constraint THEJPGTBCO0_PK
/
alter table HEJP.THEJPBC0 ENABLE constraint THEJPBC0_PK
/
alter table HEJP.THEJSCP0 ENABLE constraint THEJSCP0_PK
/
alter table HEJP.THEJSISCPC0 ENABLE constraint THEJSISCPC0_PK
/
alter table HEJP.THEJPBC0 ENABLE constraint THEJPBC0_PK
/
alter table HEJP.THEJACS0 ENABLE constraint THEJACS0_PK
/
alter table HEJP.THEJATZ0 ENABLE constraint THEJATZ0_THEJACS0_FK
/
alter table HEJP.THEJATZ0 ENABLE constraint THEJATZ0_PK
/
alter table HEJP.THEJFUNT ENABLE constraint SYS_C0019006
/
alter table HEJP.THEJFUNT ENABLE constraint SYS_C0019007
/
alter table HEJP.THEJFUNT ENABLE constraint SYS_C0019008
/
alter table HEJP.THEJFUNT ENABLE constraint SYS_C0019009
/
alter table HEJP.THEJFUNT ENABLE constraint SYS_C0019010
/
alter table HEJP.THEJFUNT ENABLE constraint IHEJFUNT0
/
{% endif %}

ALTER SESSION SET CURRENT_SCHEMA= {{info.schema_nome}}
/
{% for item in info.list -%}
alter table {{info.schema_nome}}.{{item.tabela_nome}} ENABLE constraint {{item.constrainst_nome}}
/
{% endfor -%}