﻿{% for item in info.list -%}
IF OBJECT_ID('{{item.constrainst_nome}}') IS NULL 
BEGIN
ALTER TABLE {{item.tabela_nome}} 
ADD CONSTRAINT {{item.constrainst_nome}} PRIMARY KEY ( {{item.campo_nome}} )
END
GO 
{% endfor -%}