﻿{% for item in info.list -%}
IF OBJECT_ID('{{item.constrainst_nome}}') IS NOT NULL 
BEGIN
ALTER TABLE {{item.tabela_nome}} 
WITH CHECK CHECK CONSTRAINT {{item.constrainst_nome}}  
END
GO
{% endfor -%}